<section id="cube-element" tabindex="0">
    <div class="face front">
        <app-calculator></app-calculator>
    </div>
    <div class="face back">
        <div id="aaah1">ik haat typescript! ik haat typescript! ik haat typescript! ik haat typescript! ik haat typescript! ik haat typescript! ik haat typescript! ik haat typescript!</div>
    </div>
    <div class="face left">
        <div id="aaah2">ik haat typescript! ik haat typescript! ik haat typescript! ik haat typescript! ik haat typescript! ik haat typescript! ik haat typescript! ik haat typescript!</div>
    </div>
    <div class="face right">
        <div id="aaah3">ik haat typescript! ik haat typescript! ik haat typescript! ik haat typescript! ik haat typescript! ik haat typescript! ik haat typescript! ik haat typescript!</div>
    </div>
    <div class="face bottom">
        <div id="aaah4">ik haat typescript! ik haat typescript! ik haat typescript! ik haat typescript! ik haat typescript! ik haat typescript! ik haat typescript! ik haat typescript!</div>
    </div>
    <div class="face top">
        <div id="aaah5">ik haat typescript! ik haat typescript! ik haat typescript! ik haat typescript! ik haat typescript! ik haat typescript! ik haat typescript! ik haat typescript!</div>
    </div>
</section>
